<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Stations</h4>
  </div>

  <% if @stations.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Location</th>
            <th scope="col">Warehouse</th>
          </tr>
        </thead>
        <tbody>
          <% @stations.each do |station| %>
            <tr>
              <td><%= station.name %></td>
              <td><%= station.status %></td>
              <td><%= station.location.address %></td>
              <td><%= station.warehouse.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Welcome!</span>
      No available stations!
    </div>
  <% end %>
  <%= link_to 'Back', home_userhomepage_path, class: 'btn btn-primary mt-2' %>
</div>
