<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 mb-4 display-4">New Post</h4>
  </div>
  <div class="row justify-content-center">
    <%= form_with scope: :power_bank, url: powerbanks_path, local: true do |form| %>
      <% if @power_bank.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@power_bank.errors.count, "error") %> prohibited this power bank from being saved:</h2>
          <ul>
            <% @power_bank.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= form.label :serial_number %>
        <%= form.text_field :serial_number, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :locatable_type, "Location Type" %>
        <%= form.select :locatable_type, options_for_select(['Warehouse', 'Station'], @power_bank.locatable_type), {}, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= form.label :locatable_id, "Location" %>
        <%= form.collection_select :locatable_id, Location.all, :id, :address, prompt: 'Select a location', class: 'form-control' %>
      </div>

      <div class="field">
        <%= form.label :status %>
        <%= form.select :status, options_for_select([['In Use', 'in_use'], ['Available', 'available']]) %>
      </div>

      <div class="form-group">
        <%= form.submit 'Create Power Bank', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
