<div class="container">
  <div class="row justify-content-center">
    <h4 class="mt-4 display-4">Listing Warehouses</h4>
  </div>
  <%= link_to 'Create Warehouse', new_warehouse_path %>
  <% if @warehouses.present? %>
    <div class="row justify-content-center">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
            <th scope="col" colspan="3">Action</th>
          </tr>
        </thead>
        <tbody>
          <% @warehouses.each do |warehouse| %>
            <tr>
              <td><%= warehouse.name %></td>
              <td><%= warehouse.location.address %></td>
              <td><%= link_to 'Show', warehouse_path(warehouse) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <div class="p-3 mb-2 bg-light text-dark">
      <span class="text-info font-weight-bold">Welcome! </span>
      Create your first warehouse
    </div>
  <% end %>
                <%= link_to 'Back ', home_dashboard_path, class: 'btn btn-primary mt-2' %>

</div>
